package {{invokerPackage}};

import lombok.Builder;
import lombok.Getter;
import lombok.ToString;
import java.util.Map;
import java.util.List;

@Getter
@ToString
{{>generatedAnnotation}}
public class ApiException extends RuntimeException {
  private int code = 0;
  private Map<String, List<String>> responseHeaders = null;
  private String responseBody = null;

  @Builder
  public ApiException(String message, Throwable throwable, int code, Map<String, List<String>> responseHeaders, String responseBody) {
    super(message, throwable);
    this.code = code;
    this.responseHeaders = responseHeaders;
    this.responseBody = responseBody;
  }

}
