package {{invokerPackage}};

import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.NoArgsConstructor;

import javax.ws.rs.core.Response;
import java.util.Map;
import java.util.List;

@Data
@Builder
@AllArgsConstructor
@NoArgsConstructor
{{>generatedAnnotation}}
public class ServiceException extends RuntimeException {

    private Map<String, List<String>> responseHeaders = null;
    private String errorCode;
    private Response.Status statusCode;
    private String message;
    private Object[] args;
}

